body{
    background-image: url("lib3.jpg");
    background-size: cover;
}
.container{
    backdrop-filter: blur(8px);
}

.hoverable:hover{
    background-color: burlywood;
}

::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(#642bff,#ff22e6) ;
    border-radius: 20px;
}